body {
  margin: 0;
  padding: 0;
  background-color: rgb(202, 29, 29);
  background: radial-gradient(
      rgb(187, 10, 10) 0%,
      rgb(178, 12, 12) 90%,
      rgb(123, 11, 11) 100%
    ),
    linear-gradient(
      rgb(202, 29, 29) 0%,
      rgba(166, 25, 25, 0.523) 90%,
      rgb(83, 7, 7) 100%
    );
  height: 100vh;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

body.mode2 {
  background-color: rgb(255, 240, 240);
  height: 100vh;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}
h1 {
  margin: 0;
  opacity: 0;
  text-align: center;
  font-family: "Oswald", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6vw;
  margin-bottom: 0px;
  animation: logoanim 1s forwards 1s;
}

h2 {
  color: white;
  margin-top: 20px;
  font-size: 15px;
}

.logo-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  animation: wobble 2s alternate ease-in-out infinite;
  transition: all 1s ease;
}

.logo-top {
  text-align: center;
  padding: 8px;
  
}

.logo-bottom {
  opacity: 0;
  text-align: center;
  width: 29vw;
  height: 5.5vw;
  animation: logoanim 1s forwards 1s;
}

.logoA {
  opacity: 0;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 6vw;
  text-shadow: rgba(149, 1, 1, 0.893) 5px 5px;
  margin-top: 4vw;
  margin-bottom: 0px;
  line-height: 2vw;
  animation: logoanim 1s forwards 1s;
}




.logoB {
  opacity: 0;
  margin-top: 10px;
  text-align: center;
  color: white;
  font-family: "Oswald", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5.9vw;
  text-shadow: rgba(149, 1, 1, 0.893) 5px 5px;
  letter-spacing: 0.5vw;
  margin-bottom: 0px;
  line-height: 5vw;
  animation: logoanim 1s forwards 1s;
}

p {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 4vh;
  margin-top: 0px;
  font-family: "Inter", sans-serif;
}

.page {
  width: 100%;
  height: 100vh;
  position: absolute;
  transition: all 1s ease;
  top: 0;
  visibility: none;
}

/* #game-page {
  background-color:white;
} */

#movie {
  margin: 0;
  color: rgb(255, 255, 255);
  height: 100vh;
}

#input {
  background-color: rgb(32, 32, 33);
  margin: 0;
  color: rgb(255, 255, 255);
  height: 100vh;
}

#movie p {
  color: rgb(255, 255, 255);
}

#input p {
  width: 45%;
  float: left;
  color: rgb(255, 255, 255);
}

#poppedMovieTitle {
  font-family: "Oswald", serif;
  font-weight: 400;
  font-style: normal;
}

#call-to-action {
  font-family: "Oswald", serif;
  font-weight: 400;
  font-style: normal;
}

#results-page {
  background-color: white;
}

#results-text {
  color:red;
  /* font-family: "Shrikhand", serif; */
  font-family: "Oswald", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4vw;
}

#poppedResults h1 {
  color:red;
}

.page.in {
  top: 0;
  opacity: 1;
}

.page.out {
  position: absolute;
  visibility: hidden;
  top: -100%;
  opacity: 0;
}

.page.in-right {
  right: 0;
  opacity: 1;
}

.page.out-right {
  position: absolute;
  visibility: hidden;
  right: -100%;
  opacity: 1;
}

.page.in-left {
  left: 0;
  opacity: 1;
}

.page.out-left {
  position: absolute;
  visibility: hidden;
  left: -100%;
  opacity: 1;
}

.page.load {
  position: absolute;
  visibility: hidden;
  top: 100%;
}

.page.preload {
  top: 100%;
  display: none;
}

@keyframes logoanim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1.02);
  }
}

@keyframes wobble {
  0% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(-1deg);
  }
}

.button {
  text-align: center;
  background-color: black;
  color: white;
}

ul {
  list-style: none; /* Remove default list bullets */
  padding: 0;
  margin: 0;
  text-align: center; /* Center text within the list */
}
/* Style for the list items */
li {
  margin: 10px 0; /* Space between list items */
  padding: 10px;
  background-color: #ffffff; /* Example background color */
  border: 1px solid #ddd; /* Example border */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Example shadow */
}

#poster-img {
  box-shadow: 15px 15px 20px 5px rgb(0, 0, 0, 40%);
  animation: wobble 2s alternate ease-in-out infinite;
}

.modal-card-body div {
  font-family: "Oswald", serif;
  font-weight: 400;
  font-style: normal;
}

@media screen and (max-width:768px) {
#movie {
  height:80vh;
}
#input {
  height:130px;

}

#col-container {
height:20vh;
margin-top:auto;
}

#call-to-action {
  width:120px;
  margin-right:0;
}

.logoA {
  opacity: 0;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Shrikhand", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12.5vw;
  text-shadow: rgba(149, 1, 1, 0.893) 5px 5px;
  margin-top: 8vw;
  margin-bottom: 0px;
  line-height: 10vw;
  animation: logoanim 1s forwards 1s;
}

.logoB {
  opacity: 0;
  margin-top: 10px;
  text-align: center;
  color: white;
  font-family: "Oswald", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12.9vw;
  text-shadow: rgba(149, 1, 1, 0.893) 5px 5px;
  letter-spacing: 0.5vw;
  margin-bottom: 0px;
  line-height: 5vw;
  animation: logoanim 1s forwards 1s;
}

.logo-top {
  text-align: center;
  padding: 8px;
  
}

.logo-bottom {
  opacity: 0;
  text-align: center;
  width: 60vw;
  height: 12vw;
  animation: logoanim 1s forwards 1s;
}

.is-size-4 {
  font-family: "Oswald", serif;
  font-weight: 400;
  font-style: normal;
  font-size:1rem !important;
}

}
